# Server
PORT=5001
NODE_ENV=development

# PostgreSQL Connection String
DATABASE_URL=postgresql://username:password@host/database_name?sslmode=require

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h
